.battle-board {
  width: 31.5rem;
  margin: 10rem auto 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.bb-picked {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.bb-empty {
  margin-bottom: 1.5rem;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.picked-by-label {
  margin-top: 2rem;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.result {
  font-size: 5.5rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
}

.play-again-btn {
  width: 22rem;
  margin: 2rem auto 0 auto;
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: #fff;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 899px) {
  .result-div {
    position: absolute;
    bottom: -21rem;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (min-width: 900px) {
  .battle-board {
    width: 68rem;
    margin-top: 0;
    margin-top: 6.5rem;
    justify-content: center;
  }

  .bb-empty {
    margin: 0;
    margin-top: 3.5rem;
    width: 23rem;
    height: 23rem;
  }

  .bb-picked {
    flex-direction: column-reverse;
  }

  .picked-by-label {
    margin: 0;
    margin-bottom: 6rem;
    font-size: 2.4rem;
    letter-spacing: 0.4rem;
  }

  .result-div {
    margin: 0 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .result {
    margin: 0;
  }
}
