.battle-board {
  width: 31.5rem;
  margin: 10rem auto 0 auto;
  display: flex;
  justify-content: space-between;
}

.bb-picked {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.bb-empty {
  margin-bottom: 1.5rem;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.picked-by-label {
  margin-top: 2rem;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

@media screen and (min-width: 900px) {
  .battle-board {
    width: 50rem;
    margin-top: 6.5rem;
  }

  .bb-empty {
    margin-bottom: 2.5rem;
    width: 15rem;
    height: 15rem;
  }
}
