// ### Primary
// - Scissors Gradient: hsl(39, 89%, 49%) to hsl(40, 84%, 53%)
// - Paper Gradient: hsl(230, 89%, 62%) to hsl(230, 89%, 65%)
// - Rock Gradient: hsl(349, 71%, 52%) to hsl(349, 70%, 56%)
// - Lizard Gradient: hsl(261, 73%, 60%) to hsl(261, 72%, 63%)
// - Cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%)

$bg-1: hsl(214, 47%, 23%);
$bg-2: hsl(237, 49%, 15%);
$header-outline: hsl(217, 16%, 45%);

$score-text: hsl(229, 64%, 46%);
$dark-text: hsl(229, 25%, 31%);

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-size: 1.6rem;
  background: linear-gradient($bg-1, $bg-2);
}

ul {
  list-style-type: none;
}

// ScoreCard ----
.title-card {
  border: 3px solid $header-outline;
}

.score-tile {
  background-color: #fff;

  .score-tile-title {
    color: $score-text;
  }

  .score-tile-data {
    color: $dark-text;
  }
}
