$bg-1: hsl(214, 47%, 23%);
$bg-2: hsl(237, 49%, 15%);
$header-outline: hsl(217, 16%, 45%);

$score-text: hsl(229, 64%, 46%);
$dark-text: hsl(229, 25%, 31%);

$paper-bg-1: hsl(230, 89%, 62%);
$paper-bg-2: hsl(230, 89%, 65%);

$scissors-bg-1: hsl(39, 89%, 49%);
$scissors-bg-2: hsl(40, 84%, 53%);

$rock-bg-1: hsl(349, 71%, 52%);
$rock-bg-2: hsl(349, 70%, 56%);

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-size: 62.5%;
}

img {
  display: block;
}

body {
  padding-top: 3rem;
  height: 100%;
  font-size: 1.6rem;
  background: linear-gradient($bg-1, $bg-2);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

ul {
  list-style-type: none;
}

// ScoreCard ----
.title-card {
  border: 3px solid $header-outline;
}

.score-tile {
  background-color: #fff;

  .score-tile-title {
    color: $score-text;
  }

  .score-tile-data {
    color: $dark-text;
  }
}

// Game Board
.gb-bg-paper {
  background: linear-gradient($paper-bg-1, $paper-bg-2);
}

.gb-bg-scissors {
  background: linear-gradient($scissors-bg-1, $scissors-bg-2);
}

.gb-bg-rock {
  background: linear-gradient($rock-bg-1, $rock-bg-2);
}

// Battle Board
.bb-empty {
  background-color: hsl(226, 47%, 18%);
}

.play-again-btn {
  color: hsl(226, 47%, 18%);
}

// Rules
.rules-btn {
  border: 1px solid #fff;
}
